@layout('layouts.main')

@section('content')
    <h1>{{ title }}</h1>
    <ul class="list-group">
        @each(post in posts)
            <li class="list-group-item">
                <a href="/posts/{{ post.slug }}">
                     {{ post.title   }}
                </a> 
            </li>
        @endeach
    </ul>
@endsection